<div class="col s4 m4">
    <div class="card blue white-text">

        <span class="card-title">{{ stock.company_name }}</span>
        <ul class="collection black-text">
            <li class="collection-item"><b>Ticker:</b> {{ stock.ticker }}</li>
            <li class="collection-item"><b>Last value:</b> {{ stock.last_value }}$</li>
        </ul>
        <div class="card-action">
            <a href="{% url 'stocks:single' username=stock.user.username pk=stock.pk %}" class="btn blue btn-flat white-text">Details</a>
            <a href="{% url 'stocks:delete' pk=stock.pk %}" class="btn red btn-flat white-text">Delete</a>
        </div>

    </div>

</div>