{% extends "stocks/stock_base.html" %}
{% load humanize %}


{% block post_content %}
    <div class="col s12">
        <div class=" card blue white-text">

            <img width="48" height="48" alt="company logo" class="logo" src={{ stock.logo }} />
            <span class="card-title">{{ stock.company_name }}</span>

            <a href="{% url 'stocks:delete' pk=stock.pk %}" class="btn red btn-flat white-text ">Delete</a>

            <!--<form action="{% url 'stocks:update' pk=stock.id username=user.username %}" method="post">
                {% csrf_token %}
                <input value="{{ stock.ticker }}" name="ticker" disabled class="hidden-stuff" />
                <button type="submit" class="btn green btn-flat white-text">Update</button>
            </form> -->

            <a href="{% url 'stocks:update' pk=stock.id username=user.username %}" class="btn green btn-flat white-text">Update</a>


            <ul class="collection black-text">
                <li class="collection-item"><b>Ticker: </b> {{ stock.ticker }}</li>
                <li class="collection-item"><b>Last value: </b> {{ stock.last_value }}$</li>
                <li class="collection-item"><b>52 weeks high: </b> {{ stock.week52High }}$</li>
                <li class="collection-item"><b>52 weeks low: </b> {{ stock.week52Low }}$</li>
                <li class="collection-item"><b>Primary exchange: </b> {{ stock.primary_exchange }}</li>
                <li class="collection-item"><b>PE Ratio: </b> {{ stock.pe_ratio }}</li>
                <li class="collection-item"><b>YTD change: </b> {{ stock.ytd_change }}</li>
                <li class="collection-item"><b>Market Cap: </b> {{ stock.market_cap|intword }}$</li>
            </ul>

        </div>
    </div>
{% endblock %}