<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>Stock Tracker</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'simple_social/images/favicon.ico' %}"/>

    {% block css %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css"
              integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous"/>
    {% endblock css %}
    <link rel="stylesheet" href="{% static 'stock_tracker/css/master.css' %}">
</head>
<body>

{% block javascript %}
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js"
            integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {

            // Initialize materialize data picker
            $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
            $('select').formSelect();

        });
    </script>
{% endblock javascript %}

<header>
    <nav>
        <div class="nav-wrapper">
            <a href="{% url 'home' %}" class="brand-logo">Stock tracker</a>
            <ul class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'stocks:for_user' username=user.username %}">My stocks</a></li>
                    <li><a href="{% url 'stocks:create' %}">Add a stock</a></li>
                    <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'accounts:login' %}">Login</a></li>
                     <li><a href="{% url 'accounts:signup' %}">Sign up</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>